.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product > mat-card > img{
    object-fit: contain;
    height: 200px;
}

.product > mat-card{
    background-image: linear-gradient(#849daa, #0000);
    display: flex;
    flex-direction: column;
    min-height: 350px;
    width: 300px;
    margin: 20px;
    align-items: center;
}

.product > mat-card > button{
    margin-top:20px;
    background-color: #4e99ad;
    border: 1px solid;
    border-color: #296988;
}